.service {
    background-color: rgb(128, 137, 139);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 40px;
    
}

.details {
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
}